<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93982184176-onf2o4q0mqvcm9r3e5n2kmvuav5vj96c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93982184176-onf2o4q0mqvcm9r3e5n2kmvuav5vj96c</string>
	<key>API_KEY</key>
	<string>AIzaSyAWSQSI5FD15xuDWHL62MVZn2d4UaK52EY</string>
	<key>GCM_SENDER_ID</key>
	<string>93982184176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ianahmfac.yukChat</string>
	<key>PROJECT_ID</key>
	<string>yuk-chat-66fe1</string>
	<key>STORAGE_BUCKET</key>
	<string>yuk-chat-66fe1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93982184176:ios:0cf848bf4e4c73e168a835</string>
</dict>
</plist>